{% extends 'basic.html' %}
{% block title %}备份管理{% endblock %}
	<div class="jumbotron">
        {% block jumbotron %}
	  <h1 class="display-4">备份列表 | 当前：{{ gname }}</h1>
        {% endblock %}
    {% block content %}
<ul class="list-inline">
		<li class="list-inline-item">
		  <button type="button" data-toggle="modal" data-target="#waittip" class="btn btn-dark" onclick="location.href='{{ url_for('api.backup_list', cmdtype='make', gname=gname, path='None') }}'">备份当前游戏</button>
		</li>
		</ul>
         <p>*恢复备份操作将会：1：停止并备份当前游戏进度。2：恢复对应游戏存档，需要手动启动游戏。</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">备份时间</th>
      <th scope="col">操作</th>
    </tr>
  </thead>
  <tbody>
  {% if backups %}
  {% for i in backups %}
    <tr>
      <td>{{ i['ctime'] }}</td>
      <td><div class="btn-toolbar" role="toolbar">
        <div class="btn-group mr-2" role="group">
            {% if userlevel >= 3 %}
          <button type="button" data-toggle="modal" data-target="#waittip" class="btn btn-success" onclick="location.href='{{ url_for('api.backup_list', cmdtype='restore', gname=gname, path=i['path']) }}'">恢复备份</button>
          <button type="button" data-toggle="modal" data-target="#waittip" class="btn btn-danger" onclick="location.href='{{ url_for('api.backup_list', cmdtype='delete', gname=gname, path=i['path']) }}'">删除备份</button>
            {% endif %}
        {% if userlevel <= 2 %}
          <button type="button" data-toggle="modal" data-target="#waittip" class="btn btn-warning disabled" title="暂不支持" onclick="location.href='{{ url_for('api.backup_list', cmdtype='apply', gname=gname, path=i['path']) }}'">申请恢复备份</button>
        {% endif %}
        </div>
      </div>
     </td>
    </tr>
  {% endfor %}
  {% endif %}
  </tbody>
</table>
  </div>
{% endblock %}
