{% extends 'basic.html' %}
	<div class="jumbotron">
        {% block jumbotron %}
	  <h1 class="display-4">服务器列表</h1>
        {% endblock %}
{% block content %}
<table class="table table-striped table-dark text-lg-center ">
  <thead>
    <tr>
      <th scope="col">名称</th>
      <th scope="col">状态</th>
      <th scope="col">操作</th>
    </tr>
  </thead>
    {% for i in g.dsls %}
  <tbody>
    <tr>
      <td><ul></ul>{{ i['name'] }}</td>
        <td><ul></ul>{{ i['statu'] }}</td>
      <td>
		  <ul class="list-inline">
              {% if i['statu'] == 'exited' %}
			  <li class="list-inline-item"><button data-toggle="modal" data-target="#waittip" type="button" class="btn btn-secondary" onclick="location.href='{{ url_for('api.start_dst_server', gid=i['id']) }}'">启动</button></li>
			  {% elif i['statu'] == 'running' %}
              <li class="list-inline-item"><button data-toggle="modal" data-target="#waittip" type="button" class="btn btn-secondary" onclick="location.href='{{ url_for('api.stop_dst_server', gid=i['id']) }}'">关闭</button></li>
			  {% endif %}

              <li class="list-inline-item"><a type="button" class="btn btn-secondary" href="{{ url_for('api.server_manager', gid=i['id'], gname=i['name']) }}">管理</a></li>
		</ul>
        </td>
    </tr>
  </tbody>
{% endfor %}
</table>

  </div>
{% endblock %}