{% extends 'basic.html' %}
	<div class="jumbotron">
        {% block jumbotron %}
	  <h1 class="display-4">管理 | 当前：{{ gname }}</h1>
	  {% endblock %}
    {% block content %}
	<p class="lead text-lg-left">游戏用户权限管理</p>
	<ul class="list-inline">
        {% if userlevel >= 3 %}
		<li class="list-inline-item">
		  <a type="button" class="btn btn-dark" href="{{ url_for('api.game_user_auth_list', cls_='adminlist', gname=gname, gid=gid) }}">管理员名单</a>
		</li>
		<li class="list-inline-item">
		  <a type="button" class="btn btn-dark" href="{{ url_for('api.game_user_auth_list', cls_='blocklist', gname=gname, gid=gid) }}">黑名单</a>
		</li>
            {% endif %}
    {% if userlevel >= 1 %}
		<li class="list-inline-item">
		  <a type="button" class="btn btn-dark" href="{{ url_for('api.game_user_auth_list', cls_='whitelist', gname=gname, gid=gid) }}">白名单</a>
		</li>
    {% endif %}
	</ul>
	<p class="lead text-lg-left">游戏基础管理</p>
	<ul class="list-inline">
		<li class="list-inline-item">
		  <a type="button" class="btn btn-dark disabled" href="#">游戏运行报告</a>
		</li>
        {% if userlevel >= 2 %}
		<li class="list-inline-item">
		  <a type="button" class="btn btn-dark" href="{{ url_for('api.server_mod_manager', gname=gname, gid=gid)}}">游戏Mod管理</a>
		</li>
	</ul>
        {% endif %}
{% if userlevel >= 2 %}
	<p class="lead text-lg-left">高级管理</p>
    <p>*初始化服务器：会保留现有设置，备份后删除所有记录并重启。</p>
        {% endif %}
	<ul class="list-inline">
    {% if userlevel >= 2 %}
		<li class="list-inline-item">
		  <a type="button" class="btn btn-dark" href="{{ url_for('api.backup_list', gname=gname, cmdtype='None', path='None') }}">备份管理</a>
		</li>
    {% endif %}
        {% if userlevel >= 3 %}
            <li class="list-inline-item">
		  <a type="button" class="btn btn-dark disabled" href="#">日志管理</a>
		</li>
		<li class="list-inline-item">
		  <button type="button" data-toggle="modal" data-target="#waittip" class="btn btn-danger" onclick="location.href='{{ url_for('api.create_initial', gname=gname, gid=gid, cmdtype='initial') }}'">初始化服务器</button>
		</li>
    {% endif %}
	</ul>
  </div>
{% endblock %}